.cart {
    position: fixed;
    top: 10em;
    width: 90%;
    min-width: 375px;
    max-width: 50vw;
    right: 20px;
    border: 2px solid black;
    margin: 1em;
    padding: .8em;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    z-index: 2;
}

.cartItem {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    & button {
        font-size: smaller;
        padding: .2em .5em;
    }
}

.item {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.totalBox{
    display: flex;
    justify-content: space-between;
}

.totalTitle{
    padding-left: 10em;
}

.total {
    text-align: end;
}

.close {
    border: solid 1px;
    border-radius: 50px;
    width: 1.2em;
    text-align: center;
}

.close:hover {
    cursor: pointer;
    background-color: rgb(27, 27, 141);
    color: white;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hidden {display: none;}

